<div class="portfolio-background">
    <section id="portfolio">
        <div class="row">
            <div class="twelve columns collapsed">
                <div class="title-subheading">
                    {{ page.content }}
                </div>
                <div id="portfolio-wrapper" class="bgrid-thirds s-bgrid-thirds cf">
                    {% for item in page.header.portfolio %}
                    <div class="columns portfolio-item">
                        <div class="item-wrap">
                            <a href="#modal-{{ loop.index }}" title="">
                                <div class="overlay">
                                    <div class="portfolio-item-meta">
                                        <h5>{{ item.title }}</h5>
                                        <p>{{ item.description }}</p>
                                    </div>
                                </div>
                                <div class="link-icon"><i class="icon-plus"></i></div>
                            </a>
                            <div class="notebook">
                                <div class="screen"><div class="screen-content" style="background-image: url({{ page.media[item.img].url }})"></div></div>
                                <div class="keyboard"></div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
            {% for item in page.header.portfolio %}
            <div id="modal-{{ loop.index }}" class="popup-modal mfp-hide">
                <a href="{{ item.details }}" target="_blank"><img class="scale-with-grid" src="{{ page.media[item.img].url }}" alt="" /></a>
                <div class="description-box">
                    <h4>{{ item.title }}</h4>
                    <p>{{ item.content }}</p>
                    <span class="categories"><i class="fa fa-tag"></i>{{ item.tags }}</span>
                </div>
                <div class="link-box">
                    <a href="{{ item.details }}" target="_blank">View Website</a>
                    <a class="popup-modal-dismiss">Close</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</div>